$main-font: 'Montserrat-Bold', sans-serif ;
$sub-main-font: 'Montserrat-Regular';
$primary-font: 'Roboto';
$primary-accent-font: 'Kaushan+Script';

$main-color: #ffffff ;
$primary-color: #fce38a;
$primary-accent-color: #95e1d3;