@font-face {
    font-family: "Roboto-Black";
    src: url(../css/fonts/RobotoBlack/roboto-black.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

.clearfix {
    display: block;
    content: "";
    clear: both;
}

.container {
    /* margin: 0 auto; */
    width: 1100px;
}
.site-navigation {
    padding-top: 40px;
    padding-bottom: 40px;
    margin: 0 220px;
}
.logo {
    display: inline-block;
    font-weight: normal;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 24px;
}
.logo:hover::first-letter {
    color: #1abc9c;
}
.logo::first-letter {
    font-weight: 900;
}
a {
    display: block;
    text-decoration: none;
    color: #000;
}
.list-item-link:hover {
    color: #1abc9c;
}
.list {
    float: right;
    margin: 0;
    padding: 0;
    text-align: right;
    margin-top: 8px;
}
.list_item {
    float: left;
    font-size: 12px;
    font-weight: 700;
    font-family: "Roboto-Black";
}
.list_item:not(:last-child) {
    margin-right: 34px;
}

img {
    display: block;
}

.main-background {
    position: relative;
}

.background {
    position: absolute;
}

li .opacity {
    position: absolute;
    opacity: 0.5;
}

.slider {
    background-color: #e9f0fd;
    height: 609px;
    position: relative;
}

.slider-info,
.slider-header {
    font-family: "Roboto-Black";
    color:#fff;
    text-transform: uppercase;
    text-align: left;
    position: absolute;
    z-index: 74;
  }

.slider-header {
    top: 50%;
    right: 50%;
    transform: translateY(-50%);
    transform: translateX(75%);
    font-size: 46px;
    width: 600px;
}

.slider-info {
    top: 60%;
    right: 56%;
    transform: translateY(-60%);
    transform: translateX(74%);
    font-size: 18px;
    opacity: 0.;
}

.slider-button {
    position: absolute;
    width: 104px;
    height: 104px;
    background-color: #1abc9c;
    z-index: 100;
}

.slider-button-perv {
    top: 62%;
    transform: translateY(-62%);
    left:220px;
    border: none;
    z-index: 100;
}
.slider-button-next {
    top: 62%;
    transform: translateY(-62%);
    right: -40px;
    border: none;
    z-index: 100;
}

.slider-button:hover {
    background-color: rgba(78, 155, 137, 0.9 );
}

.arrow-perv {
    position: absolute;
    border-bottom: 4px solid #fff;
    border-right: 4px solid #fff;
    width: 32px;
    height: 32px;
    transform: rotate(140deg);
    bottom: 37px;
    right: 28px;
}

.arrow-next {
    position: absolute;
    border-bottom: 4px solid #fff;
    border-right: 4px solid #fff;
    width: 32px;
    height: 32px;
    transform: rotate(-45deg);
    bottom: 37px;
    left: 28px;
}

.first-header {
    margin: 0 auto;
    font-size: 35px;
    font-weight: 700;
    text-align: center;
    display: block;
    position: relative;
    margin-bottom: 120px;
    font-family: "Roboto-Black";
    color: #515151;
}

.first-header::after {
    content: '';
    width: 124px;
    margin: 0 auto;
    display: block;
    bottom: 0;
    margin-top:40px ;
    height: 5px;
    background: #1abc9c;
}

.featured-section {
    font-size: 0;
    display: inline-block;
    margin-right: 20px;
    float: left;
}

.featured-section:last-child {
    margin-right: 0;
}

.featured-section:nth-child(4n) {
    margin-right: 0;
}

.featured-section:hover .img-gallery {
    background-color: #1abc9c;
}
.featured-section:hover .section-item {
    background-color: #1abc9c;
}
.featured-section:hover .section-item-cost {
    background-color: #7fd9c7;
}

.section-item {
    background-color: #000;
    font-size: 15px;
    color: #fff;
    display: inline-block;
    width: 200px;
    height: 34px;
    font-family: "Roboto-Black";
    padding:10px 15px;
}
.section-item-cost {
    background-color: #8c8c8c;
    font-size: 15px;
    color: #fff;
    display: inline-block;
    width: 55px;
    height: 34px;
    padding: 10px 15px;
    font-family: "Roboto-Black";
}


.float-container {
    margin: 0;
    padding: 0;
    width: 1100px;
    display: inline-block;
    text-align: left;
    position: relative;
    margin-left: -50px;
}

.section-container {
    background-color: #e9f0fd;
    padding-top: 102px;
    padding-bottom: 100px;
    margin-left: 250px;
}

.icon-1,
.icon-2,
.icon-3,
.icon-4 {
    width: 50px;
    height: 50px;
    border: 2px solid #fff;
    position: absolute;
    top: 30px;
    bottom: 0;
    right: 30px;
    display: block;
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
}

.icon-1 {
    background-image: url(../icons/icon-1.png);
    top: 30%;
    transform: translateX(30%);
    left: 20px;
}

.icon-2 {
    background-image: url(../icons/icon-2.png);
    top: 30%;
    transform: translateX(30%);
    left: 80px;
}

.icon-3 {
    background-image: url(../icons/icon-3.png);
    top: 30%;
    transform: translateX(30%);
    left: 140px;
}

.icon-4 {
    background-image: url(../icons/icon-4.png);
    top: 50%;
    transform: translateX(50%);
    left: -50px;
    width: 170px;
    height: 50px;
    font-size: 12px;
    text-align: center;
    padding-top: 18px;
    padding-left: 50px;
    color: #fff;
    background-position: 30px;
    background-color: #323232;
}

.icon-1:hover {
    border: none;
    background-color: #1abc9c;
}

.icon-2:hover {
    border: none;
    background-color: #1abc9c;
}

.icon-3:hover {
    border: none;
    background-color: #1abc9c;
}

.icons {
    width: 240px;
    height: 281px;
    position: absolute;
    top: -130px;
    transform: translateY(50%);
    left: 22px;
    visibility: hidden;
}

.second-icon {
    left: 294px;
}

.third-icon {
    left: 570px;
}

.fourth-icon {
    left: 850px;
}

.img-background {
    width: 230px;
    height: 260px;
}

.featured-section:hover .icons {
    visibility: visible;
}

.rights {
    width:100%;
    height: 90px;
    background-color: #323232;
    font-family: "Roboto-Black";
    text-align: center;
    color: #fff;
    padding-top:40px;
}

.rights-item {
    color: #46bfa9;
}

.section {
    background-color: #e9f0fd;
}